/* General */

body 
{ background: #DEE7EC;
  font: 0.7em Verdana, Helvetica, Arial, sans-serif;
  color: #3C5C6B;
}

img
{ border: 0px;
}

table.main
{ border: 0px;

}
div.ministatus
{ text-align: center;
  margin: 1em 0em 1em 0em;
}

td.navi
{ vertical-align: top; 
  text-align: left;
  border: 0px;
  width: 182px;
}

td.main
{ vertical-align: top;
  text-align: left;
  padding: 0em 0em 0em 2em;
  border: 0px;
}

a
{ color: blue;
  text-decoration: none;
}

a:hover
{ color: blue;
  text-decoration: underline; 
}

/* Navigation */

div.naviheader
{ background: #8CACBB;
  color: #DEE7EC;
  padding: 0.5em 0em 0.5em 1em;
  margin: 1em 0em 0em 0em;
  font-weight: bold;
}

div.navibox
{ border: 1px solid #8CACBB;
  padding: 0.5em 0em 0.5em 0em;
  margin: 0em 0em 1em 0em;
}

div.navilink
{ padding: 0.1em 0.1em 0.1em 1.1em;
}

div.navilink:hover
{ background: #FFFFFF;
}

a.navi,a.navi:visited,a.naviselected
{ text-decoration: none;
  color: #3C5C6B;
}

a.naviselected
{ font-weight: bold;
}

/* Main */

h1,h2,h3
{ border-bottom: 1px solid #8CACBB;
}

p.description
{
}

p.license
{ text-align: justify;
}

pre 
{ font-size: 120%;
}

input.text
{ border: 0px solid black;
  padding: 4px 0px 4px 0.5em;
}

.feedbackfield
{ border: 0px solid black;
  padding: 4px 0px 4px 0.5em;
  width: 400px;
}

.playlistfield
{ border: 0px solid black;
  padding: 4px 0px 4px 0.5em;
  width: 300px;
}

textarea.text
{ border: 0px solid black;
  padding: 4px 0px 4px 0.5em;
}

td.configname
{ text-align: right;
  padding-right: 0.5em;
  border-bottom: 1px solid #8CACBB;
}

td.configdata
{ text-align: left;
  padding: 0px;
  border-bottom: 1px solid #8CACBB;
}

td.feedbackdata
{ text-align: left;
  padding: 0px;
  border-bottom: 1px solid #8CACBB;
  padding-bottom: 4px;
}

td.feedbacktext
{ text-align: left;
  border-bottom: 0px;
  padding-top: 4px;
}

td.feedbackname
{ text-align: right;
  font-weight: bold;
  width: 10em;
  border-bottom: 1px solid #8CACBB;
}

td.submit
{ text-align: right;
}

table
{ border: 1px solid #8CACBB;
  border-spacing: 0px;
  border-collapse: collapse;
}

th
{ font-weight: bold;
  text-align: right;
  background: #8CACBB;
  color: #DEE7EC; 
}

td
{ text-align: right;
  padding: 0px 4px 0px 4px;
  border-bottom: 1px solid #8CACBB;
}

td.text
{ text-align: left;
}


li
{ padding-bottom: 0.5em;
}
