@charset "utf-8";

@import 'bulma/bulma';
@import 'bulma/sass/utilities/mixins';

.fd-is-not-allowed {
  cursor: not-allowed;
}

.fd-is-movable {
  cursor: move;
}

.fd-tabs-section {
  padding-bottom: 0;
  padding-top: 0;
  background: var(--bulma-body-background-color);
  z-index: 20;
  position: fixed;
  width: 100%;
}

.fd-has-shadow img {
  box-shadow:
    0 0.25rem 0.5rem 0 var(--bulma-background-active),
    0 0.375rem 1.25rem 0 var(--bulma-background-active);
}

.is-full-height {
  min-height: calc(100vh - calc(2 * var(--bulma-navbar-height)));
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  > * {
    pointer-events: none;
  }
}

.navbar-item {
  width: var(--bulma-navbar-height);
  justify-content: center;
}

.fd-cover {
  align-items: center;
  display: flex;
  justify-content: center;
  &-small-image {
    width: 4rem;
    height: 4rem;
    img {
      border-radius: var(--bulma-radius-small);
      max-width: 4rem;
      max-height: 4rem;
    }
  }
  &-medium-image {
    @include tablet {
      justify-content: right;
    }
    img {
      border-radius: var(--bulma-radius);
      max-height: calc(150px - 1.5rem);
    }
  }
  &-normal-image {
    img {
      border-radius: var(--bulma-radius-large);
      width: 100%;
    }
  }
  &-big-image {
    @include mobile {
      @media screen and (orientation: landscape) {
        img {
          display: none;
        }
      }
    }
    img {
      border-radius: var(--bulma-radius-large);
      max-height: calc(100vh - 26rem);
    }
    &.is-masked {
      filter: blur(0.5rem) opacity(0.2);
    }
  }
}

.media:first-of-type {
  padding-top: 1rem;
}

/* Transition effect */
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* Only scroll content if modal contains a card component */
.modal-content .card-content {
  max-height: calc(100vh - calc(4 * var(--bulma-navbar-height)));
  overflow: auto;
}

.buttons {
  @include mobile {
    &.is-centered-mobile {
      justify-content: center;
      &:not(.has-addons) {
        .button {
          margin-left: 0.25rem;
          margin-right: 0.25rem;
        }
      }
    }
  }
}

.heading {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-bottom: 0px !important;
  text-transform: uppercase;
}

.column {
  &.fd-has-cover {
    @include mobile {
      margin: auto;
    }
    @include tablet {
      margin-right: 0;
    }
  }
}

.overlay-fullscreen {
  @extend .is-overlay;
  z-index: 25;
  background-color: rgba(10, 10, 10, 0.2);
  position: fixed;
}

.hero-body {
  padding: 1.5rem !important;
}

.dropdown-menu {
  @include mobile {
    width: 100vw;
  }
}

.dropdown-content {
  max-height: calc(100vh - calc(2 * var(--bulma-navbar-height)));
  overflow: auto;
}

/* Slider */
@mixin thumb {
  -webkit-appearance: none;
  width: var(--th);
  height: var(--th);
  box-sizing: border-box;
  border-radius: 50%;
  background: var(--bulma-light);
  border: 1px solid var(--bulma-grey-lighter);
  @media (prefers-color-scheme: dark) {
    background: var(--bulma-grey-lighter);
    border: 1px solid var(--bulma-grey-dark);
  }
}

@mixin thumb-inactive {
  box-sizing: border-box;
  background-color: var(--bulma-light);
  @media (prefers-color-scheme: dark) {
    background-color: var(--bulma-grey-dark);
    border: 1px solid var(--bulma-grey-darker);
  }
}

@mixin track {
  height: calc(var(--sh));
  border-radius: calc(var(--sh) / 2);
  background: linear-gradient(
    90deg,
    var(--bulma-dark) var(--sx),
    var(--bulma-grey-lighter) var(--sx)
  );
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      90deg,
      var(--bulma-grey-lighter) var(--sx),
      var(--bulma-grey-dark) var(--sx)
    );
  }
}

@mixin track-inactive {
  background: linear-gradient(
    90deg,
    var(--bulma-grey-light) var(--sx),
    var(--bulma-light) var(--sx)
  );
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      90deg,
      var(--bulma-grey-dark) var(--sx),
      var(--bulma-black-ter) var(--sx)
    );
  }
}

input[type='range'].slider {
  --sh: 0.25rem;
  --th: calc(var(--sh) * 4);
  background-color: transparent;
  @include mobile {
    --th: calc(var(--sh) * 5);
  }
  & {
    --sx: calc(var(--th) / 2 + (var(--ratio) * (100% - var(--th))));
    -webkit-appearance: none;
    min-width: 250px;
    height: calc(var(--sh) * 5);
    width: 100% !important;
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
  &::-webkit-slider-thumb {
    @include thumb;
    & {
      margin-top: calc((var(--th) - var(--sh)) / -2);
    }
  }
  &::-moz-range-thumb {
    @include thumb;
  }
  &::-webkit-slider-runnable-track {
    @include track;
  }
  &::-moz-range-track {
    @include track;
  }
  &.is-inactive {
    cursor: var(--cursor, not-allowed);
    &::-webkit-slider-thumb {
      @include thumb-inactive;
    }
    &::-webkit-slider-runnable-track {
      @include track-inactive;
    }
    &::-moz-range-thumb {
      @include thumb-inactive;
    }
    &::-moz-range-track {
      @include track-inactive;
    }
  }
}
