
.slider {
  min-width: 250px;
  width: 100%;
}
.range-slider-fill {
  background-color: hsl(0, 0%, 21%);
}

.track-progress {
  margin: 0;
  padding: 0;
  min-width: 250px;
  width: 100%;
}

.track-progress .range-slider-knob {
  visibility: hidden;
}

.track-progress .range-slider-fill {
  background-color: hsl(217, 71%, 53%);
  height: 2px;
}

.track-progress .range-slider-rail {
  background-color: hsl(0, 0%, 100%);
}

.media.with-progress h2:last-of-type {
  margin-bottom: 6px;
}

.media.with-progress {
  margin-top: 0px;
}

a.navbar-item {
  outline: 0;
  line-height: 1.5;
  padding: .5rem 1rem;
}

.fd-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}

.fd-margin-left-auto {
  margin-left: auto;
}

.fd-has-action {
  cursor: pointer;
}

.fd-is-movable {
  cursor: move;
}

.fd-has-margin-top {
  margin-top: 24px;
}

.fd-has-margin-bottom {
  margin-bottom: 24px;
}

.fd-remove-padding-bottom {
  padding-bottom: 0;
}

.fd-has-padding-left-right {
  padding-left: 24px;
  padding-right: 24px;
}

.fd-is-square .button {
  height: 27px;
  width: 27px;
}

.fd-is-text-clipped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fd-is-fullheight {
  height: calc(100vh - 3.25rem - 3.25rem);
}

.fd-is-fullheight-body {
  flex-shrink: 1;
  overflow: hidden;
  height: 100%
}

.fd-image-fullheight {
  height: 100%;
  width: auto;
}

.fd-tabs-section {
  padding-bottom: 3px;
  padding-top: 3px;
  background: white;
  top: 3.25rem;
  z-index: 20;
  position: fixed;
  width: 100%;
}

section.fd-tabs-section + section.fd-content {
  margin-top: 24px;
}

.fd-progress-bar {
  top: 52px !important;
}

.fd-has-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sortable-chosen .media-right {
  visibility: hidden;
}
.sortable-ghost h1, .sortable-ghost h2 {
  color: hsl(348, 100%, 61%) !important;
}

.media:first-of-type {
  padding-top: 17px;
  margin-top: 16px;
}

/* Transition effect */
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Now playing progress bar */
.seek-slider {
  min-width: 250px;
  max-width: 500px;
  width: 100% !important;
}
.seek-slider .range-slider-fill {
  background-color: hsl(171, 100%, 41%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.seek-slider .range-slider-knob {
  width: 10px;
  height: 10px;
  background-color: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
}

/* Add a little bit of spacing between title and subtitle */
.title:not(.is-spaced) + .subtitle {
  margin-top: -1.3rem !important;
}
.title:not(.is-spaced) + .subtitle + .subtitle {
  margin-top: -1.3rem !important;
}

/* Only scroll content if modal contains a card component */
.fd-modal-card {
  overflow: visible;
}
.fd-modal-card .card-content {
  max-height: calc(100vh - 200px);
  overflow: auto;
}
.fd-modal-card .card {
  margin-left: 16px;
  margin-right: 16px;
}
