/* Version number of package */
#define VERSION_MAJOR 1
#define VERSION_MID 0
#define VERSION_MINOR 0
#define VERSION_BUILD $WCREV$

#define VERSION_LOCAL "$WCMODS? (LOCAL):$"
#define BUILD_DATE "$WCNOW$"
#define REPO_DATE "$WCDATE$"

#define VERSION_STRIZE2(x) #x
#define VERSION_STRIZE(x) VERSION_STRIZE2(x)
#define VERSION_STRING VERSION_STRIZE(VERSION_MAJOR) "." VERSION_STRIZE(VERSION_MID) " svn-" VERSION_STRIZE(VERSION_BUILD) VERSION_LOCAL
